// COMMON
$font-black: #333;
$font-white: #fff;

body {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;

    a {
        color: $font-black;
        text-decoration: none;
    }
    li {
        list-style: none;
    }
}
.maindoor {
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 1;
    background-color: #333;
    z-index: 1;
    .maindoor__contents__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .maindoor__contents__imgbox {
            img {
                width: 15rem;
            }
        }
        .maindoor__contents__textbox {
            text-align: center;
            h1,
            button {
                padding: 1.5rem 0;
            }
            h1 {
                color: $font-white;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 5rem;
                height: 2rem;
                font-size: 1.3rem;
            }
        }
    }
}
header {
    width: 100%;
    height: 10rem;
    nav {
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        li {
            padding: 3rem;
            // text-decoration: underline;
        }
        .navbar__menulist {
            display: flex;
            justify-content: center;

            li {
            }
        }
        .navbar__menulist__member {
            display: flex;
            li {
            }
        }
    }
}

// MAIN

main {
}
